<ion-view title="CycleCount-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnList()"></button>
		<div class="h1 title">Manifest Tally Detail</div>
		<!-- <button class="button button-icon icon ion-android-open" ng-click="openModal()"></button> -->
	</ion-header-bar>
	<ion-content>
		<div class="list card">
			<ion-list can-swipe="true" tabindex="-1" id="div-list">
				<ion-item nav-clear menu-close class="item item-icon-right" ng-repeat="Aemt1 in Detail.Aemt1S" ng-click="goManifestDetail(Aemt1.KeyMAwbNo)">
					<div class="row">
						<div class="col" style="max-width: 35%;">
							<h2>Pid No&nbsp;:</h2>
							<h2>location&nbsp;:</h2>
							<h2>MAwbNo&nbsp;:</h2>
						</div>
						<div class="col">
							<h2><span ng-bind="Aemt1.PID_NO"></span></h2>
							<h2><span ng-bind="Aemt1.LOC_CODE"></span></h2>
							<h2><span ng-bind="Aemt1.MAwbNo"></span></h2>
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
		</div>
	</ion-content>

</ion-view>
