<ion-view title="GRT-List">
    <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="returnMain()"></button>
        <div class="h1 title">Manifest Tally</div>
    </ion-header-bar>
    <ion-content style=" height:70px; overflow:visible;">
        <div class="list card" style="overflow:visible;">
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-33" style="text-align:center;">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MAWB No</label>
                </div>
                <div class="col col-67">
                    <ui-select ng-model="Ae1.selected" theme="bootstrap" reset-search-input="true" on-select="">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.MAwbNo | limitTo:16}}</ui-select-match>
                        <ui-select-choices repeat="Ae1 in Aeaw1s track by $index" refresh="refreshAeaw($select.search)" refresh-delay="0" position="down">
                            <div ng-bind-html="Ae1.MAwbNo | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-33" style="text-align:center;">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Location</label>
                </div>
                <div class="col col-50" style="padding:0px;">
                    <ui-select ng-model="LOCATION_K.selected" theme="bootstrap" reset-search-input="true" on-select="">
                        <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.LOC_CODE | limitTo:16}}</ui-select-match>
                        <ui-select-choices repeat="LOCATION_K in LOCATION_KS track by $index" refresh="refreshLocation($select.search)" refresh-delay="0" position="down">
                            <div ng-bind-html="LOCATION_K.LOC_CODE | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col">
                    <button class="button  button-positive button-small"  data-ng-disabled="Detail.disabled" ng-click="addLocaiton()">Add</button>
                </div>
            </div>

            <div class="row row-center" ng-if="Detail.Location_K.length>0">
                <div class="col  col-5"></div>
                <div class="col  col-90" style="width:100%">
                    <button class="button icon ion-android-delete button-positive button-small " style="width:100%" ng-click="DelAllLocaiton()" data-ng-disabled="Detail.disabled">&nbsp;&nbsp;Clear All</button>
                </div>
                <div class="col"></div>
            </div>

            <div class="row row-center" ng-repeat="Location in Detail.Location_K" id="div-list-rcbp">
                <div class="col col-33" style="text-align:center;">
                    <button class="button button-clear button-positive button-small" data-ng-disabled="Detail.disabled" ng-click="DelLocaiton(Location.LOC_CODE)"><i class="icon ion-android-close"></i></button>
                </div>
                <div class="col" style="padding:0px;">
                    <p>
                        <span class="pull-right" ng-bind="Location.LOC_CODE"> </span>
                    </p>
                </div>
                <div class="col">
                </div>
            </div>

            <div class="row row-center" ng-if="Detail.Location_K.length>0">
                <div class="col  col-5"></div>
                <div class="col  col-90">
                    <button class="button icon ion-ios-refresh-outline button-positive button-small " style="width:100%" data-ng-disabled="Detail.disabled" ng-click="Refresh()">&nbsp;&nbsp;Refresh</button>
                </div>
                <div class="col col-5"></div>
            </div>
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-80">
                    <label class="item item-input" style="margin-left:5px;">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">PID No&nbsp;</span>
                        <input type="text" id="txt-PID_NO" ng-model="Detail.Scan.PID_NO" style="padding-right: 14px;" ng-keypress="enter($event, 'PID_NO')">
                    </label>
                </div>
                <div class="col col-10">
                    <button class="button button-clear button-positive button-small" ng-click="openCam('PID_NO')"><i class="icon ion-qr-scanner"></i></button>
                </div>
                <div class="col">
                    <button class="button button-clear button-positive button-small" ng-click="clearInput('PID_NO')"><i class="icon ion-android-close"></i></button>
                </div>
            </div>

        </div>

        <div class="list card">
            <div class="row">

              <div class="col col-60">
                  <h5>&nbsp;&nbsp;Unmatched PID No&nbsp;:</h5>
                  <div class="" ng-repeat="Pid in Detail.PidS" id="" ng-click="">
                      <div class="item item-input">

                          <div class="col-57">
                              <div class="item-text-wrap">
                                  <p>
                                      <span class="pull-right" ng-bind="Pid.PID_NO"> </span>
                                  </p>
                              </div>
                          </div>
                          <div class="col-43">
                              <p>
                                  &nbsp;&nbsp;<span ng-bind="Pid.LOC_CODE"></span>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="col">
                    <h5> PID No&nbsp;:</h5>
                    <div class="" ng-repeat="Aemt1 in Detail.Aemt1S" id="" ng-click="">
                        <div class="item item-input">
                            <div class="col-57">
                                <div class="item-text-wrap">
                                    <p>
                                        <span class="pull-right" ng-bind="Aemt1.PID_NO"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-43">
                                <p>
                                    &nbsp;&nbsp;<span ng-bind="Aemt1.LOC_CODE"></span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
    <!-- <ion-content style="margin-top:100px;">
        <div class="list card">
            <div class="row">
                <div class="col col-60">
                    <h5>&nbsp;&nbsp;Unmatched PID No&nbsp;:</h5>
                    <div class="" ng-repeat="Aemt1 in Detail.Aemt1S" id="" ng-click="">
                        <div class="item item-input">
                            <div class="col-57">
                                <div class="item-text-wrap">
                                    <p>
                                        <span class="pull-right" ng-bind="Aemt1.PID_NO"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-43">
                                <p>
                                    &nbsp;&nbsp;<span ng-bind="Aemt1.LOC_CODE"></span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5>PID No&nbsp;:</h5>
                    <div class="" ng-repeat="Pid in Detail.PidS" id="" ng-click="">
                        <div class="item item-input">

                            <div class="col-57">
                                <div class="item-text-wrap">
                                    <p>
                                        <span class="pull-right" ng-bind="Pid.PID_NO"> </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-43">
                                <p>
                                    &nbsp;&nbsp;<span ng-bind="Pid.LOC_CODE"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ion-content> -->
</ion-view>
