<ion-view title="GRT-List">
        <ion-header-bar class="bar-positive" align-title="center">
            <button class="button button-icon icon ion-android-arrow-back" ng-click="GoToPid()"></button>
            <div class="h1 title">ADD PID</div>
        </ion-header-bar>
        <ion-content overflow-scroll="true">
            <div class="card" style="padding-top: 3px;padding-bottom: 3px;">
                <div class="item">
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Trucker Bill</span>
                                <input type="text" id="txt-addTruckerBill" ng-model="Detail.Add_OH_PID_D.TRK_BILL_NO" placeholder="Trucker Bill" ng-blur="blnVerifyInput('TruckerBill',Detail.Add_OH_PID_D.TRK_BILL_NO)">
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-positive button-small" ng-click="openCam('TruckerBill')"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-positive button-small" ng-click="clearInput('TruckerBill')"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <div class="item item-input item-select">
                                <div class="input-label">
                                    Pack Type
                                </div>
                                <select ng-model="Detail.Add_OH_PID_D.PACK_TYPE" ng-options="city for city in Rcpk_S">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-80" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Pid</span>
                                <input type="text" maxlength="8" id="txt-addPID_NO" ng-model="Detail.Add_OH_PID_D.PID_NO" placeholder="Pid" ng-blur="blnVerifyInput('AddPID_NO',Detail.Add_OH_PID_D.PID_NO)">
                            </label>
                        </div>
                        <div class="col col-10">
                            <button class="button button-clear button-positive button-small" ng-click="openCam('AddPID_NO')"><i class="icon ion-qr-scanner"></i></button>
                        </div>
                        <div class="col">
                            <button class="button button-clear button-positive button-small" ng-click="clearInput('AddPID_NO')"><i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                </div>
                <div class="button-bar">
                    <button class="button icon ion-plus-round button-positive" ng-click="AddUnNo()">
                        Add UnNo
                    </button>
                </div>
                <!-- 要去APP.CSS 写样式 -->
                <div class="imc-scroll">
                    <div>
                        <table border="1px">
                            <tr>
                                <th style="font-weight:600"> &nbsp;&nbsp;Un No &nbsp;</th>
                                <th style="font-weight:600">DG Class &nbsp;</th>
                                <th style="font-weight:600">DG Description &nbsp;</th>
                            </tr>
                            <tr class="" ng-repeat="Rcdg1 in Detail.Rcdg1s">
                                <td> &nbsp;&nbsp;<span ng-bind="Rcdg1.UnNo">&nbsp;&nbsp;</span> &nbsp;</td>
                                <td> <span ng-bind="Rcdg1.DGClass"></span> &nbsp;</td>
                                <td> <span ng-bind="Rcdg1.DGDescription"></span> &nbsp;</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="item" style="padding: 0px">
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Weight</span>
                                <input type="number" id="" ng-model="Detail.Add_OH_PID_D.GROSS_LB" placeholder="Weight">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Length</span>
                            </label>
                        </div>
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Width</span>
                            </label>
                        </div>
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Height</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <input type="number" id="" ng-model="Detail.Add_OH_PID_D.LENGTH" placeholder="Length">
                            </label>
                        </div>
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <input type="number" id="" ng-model="Detail.Add_OH_PID_D.WIDTH" placeholder="Width">
                            </label>
                        </div>
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <input type="number" id="" ng-model="Detail.Add_OH_PID_D.HEIGHT" placeholder="Height">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Remark</span>
                                <input type="text" id="" ng-model="Detail.Add_OH_PID_D.Remark" placeholder=Remark>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="bar-positive">
            <div class="button-bar">
                <button class="button icon ion-android-done" ng-click="addLine()">
                    Save
                </button>
                <button class="button icon ion-arrow-return-right" ng-click="GoToPid()">
                    Cancel
                </button>
            </div>
        </ion-footer-bar>
        <script id="popup-UnNo.html" type="text/ng-template">
           <div class="list card">
               <h5>&nbsp;&nbsp;&nbsp;UnNo :</h5>
               <div class="row">
                   <div class="col col-10" style="text-align:center;">
                       <span class="input-label" style="padding-top:2px; padding-bottom: 2px;"></span>
                   </div>
                   <div class="col" style="padding:0px;">
                       <ui-select ng-model="Rcdg1.selected" theme="bootstrap" reset-search-input="true" on-select="ShowRcdg1(Rcdg1.selected.UnNo)">
                           <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.UnNo | limitTo:16}}</ui-select-match>
                           <ui-select-choices repeat="Rcdg1 in Rcdg1s track by $index" refresh="refreshRcdg1UnNo($select.search)" refresh-delay="0" position="down">
                               <div ng-bind-html="Rcdg1.UnNo | highlight: $select.search"></div>
                           </ui-select-choices>
                       </ui-select>
                   </div>
               </div>
               <hr/>
               <h5>&nbsp;&nbsp;&nbsp;DG Class :</h5>
               <div class="row">
                   <div class="col col-10" style="text-align:center;">
                       <span class="input-label" style="padding-top:2px; padding-bottom: 2px;"></span>
                   </div>
                   <div class="col" style="padding:0px;">
                       <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">{{Detail.Rcdg1.DGClass}}</span>
                   </div>
               </div>
               <hr/>
               <h5>&nbsp;&nbsp;&nbsp;DG Description :</h5>
               <div class="row">
                   <div class="col col-10" style="text-align:center;">
                       <span class="input-label" style="padding-top:2px; padding-bottom: 2px;"></span>
                   </div>
                   <div class="col" style="padding:0px;">
                       <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">{{Detail.Rcdg1.DGDescription}}</span>
                   </div>
               </div>
           </div>
       </script>
     </ion-view>
