<ion-view title="GRT-Detail">
	<ion-header-bar class="bar-positive" align-title="center">
		<button class="button button-icon icon ion-android-arrow-back" ng-click="returnList()"></button>
		<div class="h1 title">Print</div>
	</ion-header-bar>
	<ion-content>

<div>
		<!-- <h4>you need to open bluetooth.  Mobile and Print Device (qln420)</h4> test
		<button class="button button-block button-positive" ng-click="findAddress()">find</button> -->
		<button class="button button-block button-positive" ng-click="print()">Print</button>

	<button class="button button-block button-positive" ng-click="printBatch()">printBatch</button>

	<!-- <button class="button button-block button-positive" ng-click="printBatchTest()">printBatchtest</button>
		<p>{{ Detail.Address}} </p>
		<div style="HEIGHT:43px">	</div> -->
	</div>






	</ion-content>

</ion-view>
