<ion-view title="GRT-List">
    <ion-header-bar bar-subheader class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button button-icon icon ion-android-arrow-back" ng-click="returnMain()"></button>
        </div>
        <div class="h1 title">{{Detail.TableTitle}}</div>
        <div class="buttons">
            <button class="button button-icon icon ion-android-print" ng-click="GoToDetail(Detail.ONHANDNO)"></button>
            <button class="button button-icon icon ion-android-open" ng-click="GoToPid()"></button>
        </div>
    </ion-header-bar>
    <ion-content style="margin-top:0px;">
        <div class="list card" style="overflow:visible;">
            <div ng-show="Detail.TableTitle ==='Create Onhand'">
                <h4 align="Center">{{Detail.Title}}</h4>
                <button class="button button-block button-positive" ng-show="Detail.Title ==='New'" ng-click="Create()">Create</button>
                <button class="button button-block button-positive" ng-show="Detail.Title !=='New'" ng-click="Update()">Update</button>
            </div>

            <div ng-show="Detail.TableTitle ==='Enquiry'">
                <div class="row">
                    <div class="col col-33" style="text-align:center;">
                        <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">&nbsp;&nbsp;&nbsp;OnhandNo</span>
                    </div>
                    <div class="col" style="padding:0px;">
                        <ui-select ng-model="Onhand_DForOnhandNo.selected" theme="bootstrap" reset-search-input="true" on-select="findOnhand(Onhand_DForOnhandNo.selected.onhand_no)">
                            <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.onhand_no | limitTo:16}}</ui-select-match>
                            <ui-select-choices repeat="Onhand_DForOnhandNo in Onhand_DForOnhandNos track by $index" refresh="refreshOnhand_D($select.search)" refresh-delay="0" position="down">
                                <div ng-bind-html="Onhand_DForOnhandNo.onhand_no | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <button class="button button-block button-positive" ng-click="Update()">Update</button>
            </div>
            <div ng-if="Detail.TableTitle ==='Create Onhand' || Detail.VisibleDetailFlag ==='Y'" class="item item-body" style="padding-top: 6px;padding-bottom: 6px;">
                <div class="list">

                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <div class="item item-input item-select">
                                <div class="input-label">
                                    Domestic
                                </div>
                                <select ng-model="Detail.ONHAND_D.DomesticFlag" data-ng-disabled="Detail.disabled">
                                    <!-- <option value="">None</option> -->
                                    <option value="Y" style="float:left">Y</option>
                                    <option value="N" style="float:left">N</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33" style="text-align:center;">
                            <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Shipper Code</span>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ui-select ng-model="Rcbp1.selected" theme="bootstrap" reset-search-input="true" on-select="">
                                <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.BusinessPartyCode }} </ui-select-match>
                                <ui-select-choices repeat="Rcbp1 in Rcbp1s track by $index" refresh="refreshRcbp1('',$select.search)" refresh-delay="0" position="down">
                                    <div ng-bind-html="Rcbp1.BusinessPartyCode | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33" style="text-align:center;">
                            <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Shipper Name</span>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ui-select ng-model="Rcbp1.selected" theme="bootstrap" reset-search-input="true" on-select="">
                                <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.BusinessPartyName }} </ui-select-match>
                                <ui-select-choices repeat="Rcbp1 in Rcbp1s track by $index" refresh="refreshRcbp1($select.search,'')" refresh-delay="0" position="down">
                                    <div ng-bind-html="Rcbp1.BusinessPartyName | highlight: $select.search"></div>
                                    <!-- <div ng-bind-html="Rcbp1.BusinessPartyCode | highlight: $select.search"></div> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-33" style="text-align:center;">
                            <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Consignee Code</span>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ui-select ng-model="Rcbp1ForConsinnee.selected" theme="bootstrap" reset-search-input="true" on-select="">
                                <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;"> {{$select.selected.BusinessPartyCode }} </ui-select-match>
                                <ui-select-choices repeat="Rcbp1ForConsinnee in Rcbp1ForConsinnees track by $index" refresh="refreshRcbp1ForConsinnee('',$select.search)" refresh-delay="0" position="down">
                                    <div ng-bind-html="Rcbp1ForConsinnee.BusinessPartyCode | highlight: $select.search"></div>
                                    <!-- <div ng-bind-html="Rcbp1ForConsinnee.BusinessPartyName | highlight: $select.search"></div> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33" style="text-align:center;">
                            <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Consignee Name</span>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ui-select ng-model="Rcbp1ForConsinnee.selected" theme="bootstrap" reset-search-input="true" on-select="">
                                <ui-select-match allow-clear="true" placeholder="Enter to search..." style="overflow:hidden;">{{$select.selected.BusinessPartyName }}</ui-select-match>
                                <ui-select-choices repeat="Rcbp1ForConsinnee in Rcbp1ForConsinnees track by $index" refresh="refreshRcbp1ForConsinnee($select.search,'')" refresh-delay="0" position="down">
                                    <div ng-bind-html="Rcbp1ForConsinnee.BusinessPartyName | highlight: $select.search"></div>
                                    <!-- <div ng-bind-html="Rcbp1ForConsinnee.BusinessPartyCode | highlight: $select.search"></div> -->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Onhand Date</span>
                                <button class="button button-light" id="id_DateCompleted">
                                    <i class="icon ion-calendar"></i>&nbsp;&nbsp;
                                    <span ng-bind="Detail.ONHAND_D.ONHAND_date"></span>&nbsp;
                                    <i class="icon ion-android-arrow-dropdown"></i>
                                </button>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">FMS Case</span>
                                <input type="text" id="" ng-model="Detail.ONHAND_D.CASE_NO" placeholder="Case No" style="padding-right: 14px;">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <ion-checkbox ng-model="Detail.pushPublication.checked" ng-change="pushChange()">
                                Publication
                            </ion-checkbox>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ion-checkbox ng-model="Detail.pushHazardous.checked" ng-change="pushChange()">
                                Hazardous
                            </ion-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <ion-checkbox ng-model="Detail.pushClassified.checked" ng-change="pushChange()">
                                Classified &nbsp;&nbsp;
                            </ion-checkbox>
                        </div>
                        <div class="col" style="padding:0px;">
                            <ion-checkbox ng-model="Detail.pushExercise.checked" ng-change="pushChange()">
                                Exercise
                            </ion-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <div class="item item-input item-select">
                                <div class="row">
                                    <div class="input-label">
                                        Location
                                    </div>
                                    <button style="text-align:left" class="button button-clear button-positive button-small" ng-click="openCam('Location')"><i class="icon ion-qr-scanner"></i></button>
                                    <select ng-model="Detail.ONHAND_D.LOC_CODE" ng-options="city for city in LOCATION_KS"> </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <div class="item item-input item-select">
                                <div class="input-label">
                                    Trucker
                                </div>
                                <select ng-model="Detail.ONHAND_D.TRK_CODE" ng-options="city for city in Rcbp1_S">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <ion-radio ng-repeat="item in ChargeType" ng-value="item.value" ng-model="Detail.ChargeType.NewItem">
                                {{ item.text }}
                            </ion-radio>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Vendor Ship Date</span>
                                <button class="button button-light" id="id_DateCompleted" ng-click="OnDatePickerForVendorShipDate()">
                                    <i class="icon ion-calendar"></i>&nbsp;&nbsp;
                                    <span ng-bind="Detail.ONHAND_D.PICKUP_SUP_datetime"></span>&nbsp;
                                    <i class="icon ion-android-arrow-dropdown"></i>
                                </button>
                            </label>

                        </div>
                        <div class="col">
                            <button style="" class="button button-clear button-positive " ng-click="ClearVenderShipDate()"> <i class="icon ion-android-close"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" maxlength="5" style="padding-top:2px; padding-bottom: 2px;">No Of Invoices</span>
                                <input type="number" id="" ng-model="Detail.ONHAND_D.NO_INV_WH" placeholder="No Of Invoices" style="padding-right: 14px;">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Total PCS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" id="" ng-model="Detail.ONHAND_D.TotalPCS" placeholder="Total PCS" style="padding-right: 14px;" readonly="true">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="padding:0px;">
                            <label class="item item-input">
                                <span class="input-label" style="padding-top:2px; padding-bottom: 2px;">Total Weight &nbsp;&nbsp;</span>
                                <input type="text" id="" ng-model="Detail.ONHAND_D.TotalWeight" placeholder="Total Weight" style="padding-right: 14px;" readonly="true">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
